.dona_home {
  padding: 140px 110px 210px 110px;
}

.dona_container {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.dona_direction {
  white-space: nowrap;
  color: #717171;
  margin: 20px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.dona_direction br {
  font-size: 10px;
  line-height: 50%;
}

.dona_direction span {
  line-height: 70px;
  justify-content: center;
  color: var(--gray-5, #2c2c2c);
  /* Headings/H1 */
  font-family: DM Sans;
  font-size: 50px;
  font-weight: bold;
  line-height: 66px;
  /* 117.857% */
}

.dona_equip_radio {
  padding: 20px 0px 20px 0px;
}

.input_title {
  color: var(--gray-5, #2c2c2c);
  width: 120px;
  padding: 20px 0px 20px 0px;
  font-feature-settings: "clig" off, "liga" off;
  justify-content: center;
  /* Text single/200/Bold */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  /* 100% */
}

.input_title span {
  color: #c52f61;
  font-size: 24px;
}

.input_box {
  margin: auto;
  width: 400px;
  padding: 20px 40px 20px 40px;
  height: 72px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background: #fff;
}

.non_input_box {
  margin: auto;
  width: 400px;
  padding: 20px 40px 20px 40px;
  text-align: center;
  height: 72px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background: #fff;
}

.text_box {
  margin: auto;
  width: 400px;
  height: 120px;
  padding: 20px 40px 20px 40px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  resize: none;
  font-family: DM Sans;
}

.deliver_info {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.round_container_gray {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px 20px 0px;
  padding: 60px;
  border: 1px solid var(--gray-2, #e3e3e3);
  background: var(--gray-2, #e3e3e3);
  border-radius: 30px;
}

.round_container_pink {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
  padding: 60px;
  border: 1px solid var(--gray-2, #e3e3e3);
  background: var(--red-1, #f4dee5);
  border-radius: 30px;
}

.dona_text {
  display: flex;
  width: 100%;
  height: 42px;
  margin: auto;
  color: var(--gray-5, #2c2c2c);
  justify-content: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  /* 150% */
}

.btn_container {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.dona_btn {
  width: 194px;
  height: 67px;
  border: 0px;
  border-radius: 30px;
  background-color: var(--red-2, #ff98ba);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
  .dona_home {
    padding: 30px 50px 80px 50px;
  }

  .dona_direction {
    width: 500px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
  }

  .dona_direction span {
    line-height: 50px;
    font-size: 28px;
  }

  .dona_equip_radio {
    padding: 10px 0px 10px 0px;
  }

  .input_title {
    color: var(--gray-5, #2c2c2c);
    width: 80px;
    padding: 20px 0px 10px 10px;
    font-size: 12px;
    line-height: 12px;
    /* 100% */
  }

  .input_title span {
    color: #c52f61;
    font-size: 18px;
  }

  .input_box {
    padding: 10px 20px 10px 20px;
    width: 300px;
    height: 60px;
    font-size: 12px;
  }

  .non_input_box {
    padding: 10px 20px 10px 20px;
    width: 300px;
    height: 60px;
    font-size: 12px;
    line-height: 40px;
  }

  .text_box {
    padding: 10px 20px 10px 20px;
    width: 300px;
    height: 100px;
    font-size: 12px;
    line-height: 30px;
  }

  .deliver_info {
    font-size: 18px;
    margin: 10px;
  }

  .round_container_gray {
    gap: 20px;
    margin: 20px 0px 20px 0px;
    padding: 40px;
  }

  .round_container_pink {
    gap: 20px;
    margin: 20px 0px 20px 0px;
    padding: 40px;
  }

  .dona_text {
    font-size: 12px;
  }

  .dona_btn {
    width: 150px;
    height: 60px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .dona_home {
    padding: 10px 50px 80px 50px;
  }

  .dona_container {
    flex-direction: column;
    margin: 40px 0px 40px 0px;
  }

  .dona_direction {
    margin: auto;
    font-size: 10px;
    font-weight: normal;
    line-height: 25px;
  }

  .dona_direction span {
    line-height: 50px;
    font-size: 24px;
  }

  .dona_equip_radio {
    padding: 10px 0px 10px 0px;
  }

  .input_title {
    color: var(--gray-5, #2c2c2c);
    width: 80px;
    padding: 20px 0px 10px 10px;
    font-size: 10px;
    line-height: 10px;
    /* 100% */
  }

  .input_title span {
    color: #c52f61;
    font-size: 18px;
  }

  .input_box {
    padding: 10px 20px 10px 20px;
    width: 250px;
    height: 50px;
    font-size: 10px;
  }

  .non_input_box {
    padding: 10px 20px 10px 20px;
    width: 250px;
    height: 50px;
    font-size: 10px;
    line-height: 30px;
  }

  .text_box {
    padding: 10px 20px 10px 20px;
    width: 250px;
    height: 100px;
    font-size: 10px;
    line-height: 30px;
  }

  .deliver_info {
    font-size: 16px;
    margin: auto;
  }

  .round_container_gray {
    width: 350px;
    gap: 15px;
    margin: 20px 0px 20px 0px;
    padding: 30px;
  }

  .round_container_pink {
    margin: auto;
    width: 350px;
    gap: 15px;
    padding: 30px;
  }

  .dona_text {
    font-size: 10px;
  }

  .dona_btn {
    width: 130px;
    height: 55px;
    font-size: 14px;
  }
}