.dona_home {
  padding-top: 140px;
  padding-bottom: 210px;
  padding-left: 110px;
  padding-right: 110px;
}

.dona_container {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 50px 50px;
}

.dona_direction {
  width: 620px;
  white-space: nowrap;
  color: #717171;
  margin: 20px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.dona_direction br {
  font-size: 10px;
  line-height: 50%;
}

.dona_direction span {
  line-height: 70px;
  justify-content: center;
  color: var(--gray-5, #2c2c2c);
  /* Headings/H1 */
  font-family: DM Sans;
  font-size: 50px;
  font-weight: bold;
  line-height: 66px; /* 117.857% */
}

.dona_equip_radio {
  padding: 20px 0px 20px 0px;
}

.input_title {
  color: var(--gray-5, #2c2c2c);
  width: 120px;
  padding: 20px 0px 20px 0px;
  font-feature-settings: "clig" off, "liga" off;
  justify-content: center;
  /* Text single/200/Bold */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 100% */
}

.input_title span {
  color: #c52f61;
  font-size: 24px;
}

.input_box {
  margin: auto;
  width: 400px;
  padding: 20px 40px 20px 40px;
  height: 72px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background: #fff;
}

.non_input_box {
  margin: auto;
  width: 400px;
  padding: 20px 40px 20px 40px;
  text-align: center;
  height: 72px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background: #fff;
}

.text_box {
  width: 400px;
  height: 120px;
  padding: 20px 40px 20px 40px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  resize: none;
  font-family: DM Sans;
}

.deliver_info {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.round_container_gray {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px 20px 0px;
  padding: 60px;
  border: 1px solid var(--gray-2, #e3e3e3);
  background: var(--gray-2, #e3e3e3);
  border-radius: 30px;
}

.round_container_pink {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
  padding: 60px;
  border: 1px solid var(--gray-2, #e3e3e3);
  background: var(--red-1, #f4dee5);
  border-radius: 30px;
}

.dona_text {
  display: flex;
  width: 1220px;
  height: 42px;
  margin: auto;
  color: var(--gray-5, #2c2c2c);
  justify-content: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.btn_container {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.dona_btn {
  width: 194px;
  height: 67px;
  border: 0px;
  border-radius: 30px;
  background-color: var(--red-2, #ff98ba);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
