 
  .rental_home {
    width: 1440px;
    margin: auto;
    padding: 140px 110px 210px 110px;
  }
  
  .rental_title span {
    color: var(--gray-5, #2C2C2C);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 66px; /* 165% */
  }
  
  .rental_title {
    margin: auto;
    color: var(--gray-4, #717171);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding: 34px 384px 20px 384px;
  }
  
  .rental_category {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding: 20px 20px 40px 20px;
  }
  
  .category_btn {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid var(--gray-2, #E3E3E3);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    cursor: pointer;
  }
  
  .rental_paragraph {
    margin: auto;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    width: 840px;
    border-radius: 30px;
    background: var(--yellow-1, #F9F1DF);
  }
  
  .paragraph_text {
    margin: 0px 20px 0px;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.9px;
  }
  
  .rental_device {
    margin: auto;
    display: flex; 
    padding: 50px;
  }